

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    z-index: 10;
  }

  .nav {
    display: flex;
    margin-right: 2rem;
  }


  @media (max-width: 28.75em) {
    #navbar {
      justify-content: center;
    }
  
    .nav{
      margin: 0 1rem;
      font-size: 1rem;
    }

#welcome-section{
    font-size: 1rem;
    text-align: center;
}


#welcome-section h1,p{
    font-size: 1rem;

}

#projects {
    padding: 1rem 1rem;
  }

  a:hover {
    background: rgb(6, 239, 247);
  }
  

  }

  a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 2rem;
    padding: 1rem;
  }

  a:hover {
    background: rgb(6, 239, 247);
  }
  
  #welcome-section {
    display: flex;
    width: 100wh;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
  }


#welcome-section h1,p{
    color: black;
    font-size: 2rem;

}



#projects {
    text-align: center;
    padding: 1rem 2rem;
    background-image: linear-gradient(62deg, white 0%, aqua 100%);
  }

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 3rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }

  .project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
  }

  img{
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }

  .seccion-contacto {
    display: flex;
    width: 100%;
    height: 20vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }

  .profile-link {
    font-size: 1.5rem;
    transition: transform 0.3s ease-out;
    color: black;
  }

  
  footer {
    font-weight: 100;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    background: white;
    border-top: 4px solid rgb(6, 239, 247);
  }

 